import(MASS)
import(nloptr)
import(adagio)
export(interiorPoint)
export(rescale)
export(findCenter)
export(reshape)
export(majorAxis)
export(resizedPolyhedron)
export(polyhedralACA)
export(infeasibleACA)
export(ACA)