import(MASS)
import(nloptr)
import(adagio)
export(interiorPoint)
export(rescale)
export(findCenter)
export(setLevels)
export(majorAxis)
export(resizedPolyhedron)
export(fastpolyACA)
export(infeasibleACA)
export(ACA)